
@{
    ViewData["Title"] = "Detail Page";
}

<div style="font-size: larger;">
    @{List<User> users = (List<User>)ViewData["Catlog"];
     <ol>
            @foreach(User user in users){
                <li>@user</li>
            }
        </ol>}

</div>


       