@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MedicAngel</h1>
    <br>
    <h3>Want to start Crowd-funding for medical emergency. Please <a href="http://localhost:5274/Home/Register" class="link-info">register</a></h3>
    <img src="https://i0.wp.com/ketto.blog/wp-content/uploads/2020/11/shutterstock_1772644634-Converted-1-e1606136270842.jpg?fit=1024%2C689&ssl=1">
</div>
